    {% extends 'base.html' %}
     
     
    {% block title %} Input Face {% endblock %}
     
    {% block content %}
            
<div class="table-responsive">
    <table class="table">
      <tr>
        <td>
          <video autoplay id="video" width="600" height="400"></video>
        </td>
        <td>
          <canvas id="canvas" width="600" height="400"></canvas>
        </td>
      </tr>
      <tr>
        <td colspan=2><input id="snap" class="btn btn-block btn-lg btn-primary" value="Click to Compare" /></td>
        <!-- <td><input id="upload" class="btn btn-primary" value="upload"/></td> -->
      </tr>
    </table>
  </div>


<script src="/static/js/webcam_compare.js"></script>

<style type="text/css">
  body{
        max-width: 500px;
        max-height: 500px;
      }
    </style>
{% endblock %}

  
    