{% extends 'base.html' %}
 
 
{% block content %}

<div class="panel panel-default">
<div class="panel-heading"><b>Training the Bot..</b></div>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <td>
          <video autoplay id="video" width="600" height="400"></video>
        </td>
        <td>
          <canvas id="canvas" width="600" height="400"></canvas>
        </td>
      </tr>
      <tr>
        <td colspan=2><input id="snap" class="btn btn-primary" value="Click to Capture" /></td>
        <!-- <td><input id="upload" class="btn btn-primary" value="upload"/></td> -->
      </tr>
    </table>
  </div>
</div>

<script type="text/javascript">
    var person;
    var timer = 0;
    var imgCount = 1;
    
    window.addEventListener("DOMContentLoaded", function () {
    // Grab elements, create settings, etc.
   
     var   video = document.getElementById("video"),
        videoObj = { "video": true },
        errBack = function (error) {
            console.log("Video capture error: ", error.code);
        };
 
    if (navigator.getUserMedia) { // Standard
        navigator.getUserMedia(videoObj, function (stream) {
            video.src = stream;
            video.play();
        }, errBack);
    } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
        navigator.webkitGetUserMedia(videoObj, function (stream) {
            video.src = window.webkitURL.createObjectURL(stream);
            video.play();
        }, errBack);
    }
 
    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function () {
        if (person == null) {
          person = prompt("Please enter your name");
        }
        timer = setInterval(function(){UploadToServer()},1000);
        $("#snap").attr("value", "Upload");
    });
}, false);


function UploadToServer() {

    var canvas = document.getElementById("canvas"),
        context = canvas.getContext("2d");
    context.drawImage(video, 0, 0, 600, 400);

    var img = canvas.toDataURL('image/jpeg', 0.9).split(',')[1];


    $.ajax({
        url: "/save/",
        type: "POST",
        data: "{ 'person': '" + person +"','image': '" + img + "' }",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function () {
            //alert('Image Uploaded!!');
            $("#snap").removeAttr('disabled');
            $("#snap").attr("value", "Uploading image " + imgCount + " of 10" );
            // $("#snap").attr("value", "Upload");
        },
        error: function (e) {
            alert("Error : " + e);
            $("#snap").removeAttr('disabled');
            $("#snap").attr("value", "Upload");
        }
    });

    if(imgCount == 10) {
        clearInterval(timer);
      } else {
        imgCount++;
      }
    }
</script>

<style type="text/css">
  body{
        max-width: 500px;
        max-height: 500px;
      }
    </style>

{% endblock %}

  
    